.Home-img{
  height: 200px;
  display: inline-block;
  margin:30px;
  border-radius:50%;
}
img{
  box-shadow: 3px 7px 15px black;
}

.Home-link{
  text-decoration: none;
  color: white;
  border: 2px solid green ;
  padding: 3px;
  display:block;
  margin:auto;
  width: 80px;
  background-color: green; 
}
